html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.bubbles {
  stroke-width: 1px;
  stroke: black;
  opacity: .8
}
.bubbles:hover {
  stroke: black;
}

.tooltip {
  position: absolute;
  width: 400px;
  height: 1500px;
  padding: 10px;
  font: 12px sans-serif;
  text-align: center;
  color: black;
  background: grey;
  border: 0;
  border-radius: 10px;

}