.navbar {
    background-color: white;
    color: white;
}
.navbar-brand {
    padding-left: 25px;
    padding: 15px;
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 24px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color: #008080;
    background-color:  #008080;
}

.nav-item {
    padding: 5px;

}

.nav-item-end {
    padding: 5px;
    padding-right: 15px;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-weight: 700; 
    color: #008080;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-weight: 700; 
    color: #008080;
}

h4 {
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-weight: 550; 
    color: #008080;
}

p {
    text-align: justify;
    display: block;
}

#landing-img {
    float: left;
    margin-right:25px;
    object-fit:cover;
}


body {
    background-color: 	#E0E0E0;
}

.container {
    border: 25px;
    border-left: 100px;
    padding: 25px;

}

.my-4 {
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    padding-left: 25px;
    padding-right: 25px;
    padding-top:25px;
    padding-bottom: 15px;
}

@media (max-width: 480px)  {
    #landing-img {
        float:left;
        margin-right:100px;
        object-fit:cover;
    }
    
}

.page-footer {
    background-color: #008080;
    color: white;
}

a { color: inherit; } 

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */



  
  body {
    padding: 0px;
    margin: 0px;
    background-color:rgb(188, 220, 223);
    align-items:center;
  }
  
  .axis {
    font: 14px sans-serif;
    color:rgba(6, 8, 90, 0.685)
  }
  
  .line {
    fill: none;
    stroke:rgb(6, 75, 40);
    stroke-width: 2px;
  }
  
  .tooltip {
    position: absolute;
    width: 150px;
    height: 200px;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: rgb(232, 228, 238);
    background: rgb(4, 87, 80);
    border: 0;
    border-radius: 10px;
    display: none;
  }



    body {
      padding: 0px;
      margin: 0px;
    }
    
    #map,
    body,
    html {
      height: 100%;
    }

header{
  text-align: center;
}

    /* html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.bubbles {
  stroke-width: 1px;
  stroke: black;
  opacity: .8
}
.bubbles:hover {
  stroke: black;
} */




