html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.bubbles {
  stroke-width: 1px;
  stroke: black;
  opacity: .8
}
.bubbles:hover {
  stroke: black;
}
