<!DOCTYPE html>
<html>
<title>Tremors</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">  
    
<link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }} />
<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="index.html" class="w3-bar-item w3-button"><b>TR</b> Tremors</a>
      
      <div class="w3-right w3-hide-small">
        <a href="top5.html" class="w3-bar-item w3-button">Top 5 Magnitude Earthquakes</a>
        <div class="w3-dropdown-hover">
          <div class="w3-button">Countries</div>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href={{ url_for("IND04") }} class="w3-bar-item w3-button">2004 Indonesia</a>
              <a href={{ url_for("IND05") }} class="w3-bar-item w3-button">2005 Indonesia</a>
              <a href={{ url_for("CHL10") }} class="w3-bar-item w3-button">2010 Chile</a>
              <a href={{ url_for("JPN11") }} class="w3-bar-item w3-button">2011 Japan</a>
              <a href={{ url_for("IND12") }} class="w3-bar-item w3-button">2012 Indonesia</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
          <div class="w3-button">Comparison</div>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href={{ url_for("IND_comp") }} class="w3-bar-item w3-button">Indonesia</a>
              <a href={{ url_for("jpn_comp") }} class="w3-bar-item w3-button">Japan</a>
              <a href={{ url_for("CHL_comp") }} class="w3-bar-item w3-button">Chile</a>
            </div>
        </div>
        <a href={{ url_for("heat_map") }} class="w3-bar-item w3-button">Heat Map</a>
        <a href="depth.html" class="w3-bar-item w3-button">Depth Chart</a>

      </div>
    </div>
  </div>

  <br><br>

  <!-- splash banner -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="http://inapcache.boston.com/universal/site_graphics/blogs/bigpicture/quake1/bp1.jpg" alt="Quake" width="1400" height="700">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class=" w3-black w3-opacity-min w3-animate-fading"><b>Natural disasters have devasting immediate impacts, but their long-term effects on the economy are not well understood.</b></span>
    </div>
  </header>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide col-12 text-center" style="max-width:1500px;" id="home">
      <div class="w3-content w3-padding" style="max-width:1564px"></div>
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Motivation</h3>
          <p class ="w3-center">We will be using GDP to measure the long-term effects of the top 5 magnitude Earthquakes have on the economy from 2000 to 2019.</p>     
  </header>

  <br>
  <!-- Button -->
  <header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center"  id="vpadding">
            <p class= "w3-center"><a class="btn btn-primary btn-lg " style="background-color: #084d38; border: 0px;" href="http://127.0.0.1:5000/scrape" role="button">Find the latest Earthquake</a></p>
          </div>
        </div>
      </div>
  </header>
    
    
  <!--webscraping display  -->
  <div class="col-12 text-center"  id="vpadding">
    <h3>Latest Earthquake</h3>
      <h6 class="w3-center" >Epicenter: {{quake_info.newest_region}}</h6>
        <p class= "w3-center">Magnitude: {{quake_info.newest_magnitude}}</p>
        <p class = "w3-center">Time: {{quake_info.newest_time}}</p>
  </div>
    
  <br>

    <!-- Earthquake Section -->
    <div class="w3-container w3-padding-32" id="Earthquake">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 col-12 text-center ">What Causes an Earthquake</h3>
        <img class="w3-image w3-border-light-grey w3-half" src="http://www.calacademy.org/sites/default/files/assets/images/explorescience/earthquake/infographic_anatomyofanearthquake-1920x1080.jpg" style= "float:right;" width="600" height="600">
          <p class= "w3-center "><br><br><br><br><br><br>An&nbsp;<strong>earthquake</strong>&nbsp;is what happens when two blocks of the earth suddenly slip past one another. <br>
            The surface where they slip is called the&nbsp;<strong>fault</strong>&nbsp;or<em>&nbsp;</em><strong>fault plane</strong>. <br>
            The location below the earth’s surface where the earthquake starts is called the&nbsp;<strong>hypocenter</strong>, <br>
            and the location directly above it on the surface of the earth is called the&nbsp;<strong>epicenter</strong>.</p>
    </div>

    <!-- GDP Section -->
    <div class="w3-container w3-padding-32 w3-display-container" id="GDP">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 col-12 text-center">What is GDP</h3>

      <br><br><br><br>

        <img class="w3-image w3-border w3-border-light-grey w3-half" src="https://www.thebalance.com/thmb/ash_JBRjM2z6HFnVxQTs-OkAQg8=/950x0/filters:max_bytes(150000):strip_icc():format(webp)/u-s-gdp-5-latest-statistics-and-how-to-use-them-3306041-Final-3eaf7113efd34bdcbca4688d05d59ce3.png" style= "float:left;" width="600" height="600">
          <p class= "w3-center w3-display-container"><br><br><br><br><br><br>Gross domestic product (GDP) is the total monetary or market value of all the finished goods and services <br> produced within a country's borders in a specific time period.<br> 
          As a broad measure of overall domestic production, it functions as a comprehensive scorecard of a given country’s economic health.</p>
    </div>

    <!-- methodology Section -->
    <div class="w3-container w3-padding-32" id="methodlogy">
      <div class="col-12 text-center"  id="vpadding">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Methodology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
          </p>
    </div>


    <!-- Meet the team -->
      <div class="container">
          <h1 class="mb-5 w3-center">Meet the team</h1>
          
          <div class="row">
              <div class="col-md-3">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <a href="https://www.linkedin.com/in/aaron-karpie-4019aa117/" target="_blank">
                          <img class="img-fluid rounded-circle mb-3" src={{ url_for("static",filename = "assets/images/squad/biden.jpg") }} alt="">
                      </a>
                      <h5>Aaron</h5>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <a href="https://www.linkedin.com/in/kyla-gelev-360971187/" target="_blank">
                          <img class="img-fluid rounded-circle mb-3" src={{ url_for("static",filename = "assets/images/squad/biden.jpg") }} a alt="">
                      </a>
                      <h5>Kyla</h5>
                  </div>

              
              </div>
              <div class="col-md-3">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <a href="https://www.linkedin.com/in/tiffany-cheng-89786b96/" target="_blank">
                          <img class="img-fluid rounded-circle mb-3" src={{ url_for("static",filename = "assets/images/squad/biden.jpg") }} a alt="">
                      </a>
                      <h5>Tiffany</h5>
                  </div>

              
              </div>
              <div class="col-md-3">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <a href="https://www.linkedin.com/in/yehken/" target="_blank">
                          <img class="img-fluid rounded-circle mb-3" src={{ url_for("static",filename = "assets/images/squad/biden.jpg") }} a alt="">
                      </a>
                      <h5>Ken</h5>
                  </div>

              </div>
          </div>
        </div>
  </body>
</html>
